[INPUT.REF]
DSMFilename  = /path_to/ground_truth-DSM.tif
DTMFilename  = /path_to/ground_truth-DTM.tif
CLSFilename  = /path_to/ground_truth-CLS.tif
NDXFilename  = /path_to/ground_truth-NDX.tif
MTLFilename  = /path_to/ground_truth--MTL.tif
CLSMatchValue  = 6,65

[INPUT.TEST]
DSMFilename  = /path_to/test_model-DSM.tif
DTMFilename  = /path_to/test_model-DTM.tif
CLSFilename  = /path_to/test_model-CLS.tif
MTLFilename  = /path_to/test_model--MATERIAL-LABELS.tif
CLSMatchValue  = 6

[OPTIONS]
QuantizeHeight  = true

[PLOTS]
DoPlots         = false

# This default works for docker image
#[REGEXEPATH]
#Align3DPath = "/path/to/custom/align3d"

[MATERIALS.REF]
MaterialIndices = 0,1,2,3,4,5,6,7,8,9,10,11
MaterialNames = Unclassified,Asphalt,Concrete/Stone,Glass,Tree,Non-tree vegetation,Metal,Red ceramic,Soil,Solar panel,Water,Polymer
MaterialIndicesToIgnore = 12
